/* Main  */

.main {
    margin: 3rem auto;
    width: 92%;
    min-height: calc(100vh - 13rem);
  }
  
  @media (max-width: 768px) {
    .main {
      margin: 1rem auto;
      min-height: calc(100vh - 9rem);
    }
  }